/** //////////////////////////////////////
// Author: Abbas Abdulmalik
// Creation Date:  1-27-2015
// Revised: 1-29-2015
// Note: Short app to slide the front page
// to reveal a dashboard or menu. 
////////////////////////////////////// */
html{
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none; 
  background: lightblue;  
}
body{
  background: lightgray;
  font-size: 8rem; /*7rem;*/
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: lightblue;  
}

.stack{
  position: absolute;
  right: 0;
  width: 100rem;
  min-height: 100%;
}
#back{
  z-index: 0;
  background: lightblue;
}

.apps{
  background: url(../images/blueball.png) no-repeat center;
  background-size: contain;
  border-radius: 8rem;
  margin-left: 20%;
  margin-top: 2%;
  cursor: pointer;
  font-size: 4rem;
  text-shadow: 1px 1px 2px black;
  width: 17rem;
  height: 17rem;  
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#front{
  z-index: 1;
  width: 100rem;
  paddinf-top: 5px;
  background: teal;
  -webkit-user-select: none;
  -moz-user-select: none;
  /*=====================*/
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  transition: width 0.5s;  
  /*=====================*/
  box-shadow: -2rem 2rem 2rem black;  
}

#content{
  margin: 0 auto;
  background: teal;
  text-align: center;
  min-height:100rem;   
}
#menu{
  width: 10rem;
  padding-top: 10rem;
  background: url(../images/menu.png) no-repeat center;
  background-size: contain;
  float: left;
  margin-left: 2rem;
  cursor: pointer;  
}

#iframe{
   width: 99rem;
   min-height: 110rem;
   border: none;
   display: none;
}

