/**
// Author: Abbas Abdulmalik
// Creation Date: Feb 23, 2015
// Revised: Feb 28
// Note: Muntz minimally working geo maps
// 
*/ 
body{
    font-size: 4rem;
    background: transparent; /*gray;*/
    color: white;
}
#content{
    position: absolute;
    left: 2%;
}
#geoInfo{
    text-align: left;
    font-weight: bold;
    margin: 2% auto;
}
#btn{
    background: url("../images/fingerprint.png") no-repeat center;
    background-size: contain;
    width: 100%;
}
#map{
    visibility: visible;
    width: 90rem;
    height: 70rem;    
}